# Build artifacts
Makefile
Makefile.Debug
Makefile.Release
.qmake.stash
*.o
*.obj
*.exe

# Qt Creator
.qtcreator/
*.autosave
*.pro.user*

# Logs
*.log

# Build directories
build/
debug/
release/

# Windows
Thumbs.db
desktop.ini